.story{ padding-top: 35px;  margin-bottom: 35px;  position: relative;
    background:{
        image: linear-gradient(rgba(#fff, 0.6), rgba(#fff, 0.75)),
        url("../Assets/Images/divicebg.jpg");
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    .container-fluid{
        h6{}
        h3{
            &::after{ @extend %AddLine; }
        }
        .row{   justify-content: center;
            div{
                figure{
                    position: relative;  height: 25rem;  margin-bottom: 0px!important;
                    background:{
                        image: url("../Assets/Images/device1.png");
                        repeat: no-repeat;
                        size: contain;
                        position: 100% 100%;
                    }
                    img{
                        width: 58%;
                        position: absolute;
                        bottom: -60px;
                        right: -62px;
                    }
                }
            }
        }
    }
}